<footer class="footer">
  <small>
    <%= t ".small_1" %>
    <%= link_to t(".title_1"), "http://www.railstutorial.org" %>
    <%= t ".small_2" %>
    <%= link_to t(".title_2"),"http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".li_1"), about_path %></li>
      <li><%= link_to t(".li_2"), contact_path %></li>
      <li><%= link_to t(".title_3"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
